body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: 微软雅黑 !important;
  font-weight: 400 !important;
}
.no-padding {
  padding: 0 !important;
}
.padding-t-15 {
  padding-top: 15px;
}
.margin-b-15 {
  margin-bottom: 15px;
}
.padding-15 {
  padding: 15px;
}
.padding-l-15 {
  padding-left: 15px;
}
.padding-5 {
  padding: 5px;
}
.padding-r-3 {
  padding-right: 3px;
}
.gray {
  color: #999;
}
.border {
  border: 1px solid #ddd;
}
.border-light {
  border: 1px solid #fafafa;
}
.border-radius-2 {
  border-radius: 2px;
}
.border-radius-3 {
  border-radius: 3px;
}
.padding-b-15 {
  padding-bottom: 15px;
}
.border-radius-5 {
  border-radius: 5px;
}
.padding-20 {
  padding: 20px;
}
.padding-v-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.padding-h-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.padding-v-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.padding-h-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.margin-top-15 {
  margin-top: 15px;
}
.border-top {
  border-top: 1px solid #DDDDDD;
}
.float-left {
  float: left !important;
}
.common-block {
  display: block;
  position: relative;
  padding: 1.2em;
  padding-top: 1.5em;
  background-color: #FAFAFA;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}
.block-margin-bottom {
  margin-bottom: 1em !important;
}
.curpointer {
  cursor: pointer;
}
.text-center {
  text-align: center !important;
}
.no-border {
  border: none !important;
}
.no-padding {
  padding: 0 !important;
}
.inline-center {
  position: relative;
  display: inline-block !important;
  vertical-align: middle !important;
}
.white {
  color: #FFFFFF !important;
}
.nav_bar {
  position: relative !important;
}
.border-right-light {
  border-right: 1px solid #EEEEEE;
}
.padding-right-20 {
  padding-right: 20px;
}
.common-title {
  font-size: 18px;
  padding-bottom: 5px;
  font-weight: normal;
}
.border-bottom {
  border-bottom: 1px solid #EEEEEE;
}
.border-bottom-light {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.help-block-light {
  color: #DDDDDD;
}
.tip-in-form {
  color: #999999;
  font-style: italic;
  font-size: 0.9em;
}
.tip-in-form i {
  color: #178FE6;
}
/*font*/
.font-sm {
  font-size: 12px;
}
.font-xs {
  font-size: 11px;
}
.font-bg {
  font-size: 15px;
}
.font-lg {
  font-size: 16px;
}
.font-xlg {
  font-size: 18px;
}
.font-md {
  font-size: 13px;
}
.border_bottom {
  border-bottom: 1px solid #ddd;
}
/*title*/
.nodata {
  background-color: #eee;
  border-radius: 5px;
  text-align: center;
  color: #999;
  margin: 10px 0;
  padding: 20px 0;
  font-size: 22px;
}
ul.data-list li {
  list-style: none;
  padding: 10px 0;
}
.fix-row-padding {
  padding: 0;
  margin: 0;
}
.link-section i {
  color: #00CC00;
}
.font-large {
  font-size: 18px !important;
}
.font-big {
  font-size: 16px !important;
}
.font-bigger {
  font-size: 17px !important;
}
.link-ref {
  cursor: pointer;
}
.navbar {
  z-index: 199;
}
.inline-block {
  display: inline-block;
}
.vb {
  vertical-align: middle;
}
.hover-back {
  background-color: transparent;
  transition: background-color ease-in 0.2s;
}
.hover-back:hover {
  background-color: #eee;
}
.pager > .active > a,
.pager > .active > span,
.pager > .active > a:hover,
.pager > .active > span:hover {
  background-color: #3da9f7;
}
.nav_bar .navbar-nav > li.active {
  border-bottom: 3px solid #3da9f7;
  font-weight: bold;
}
.nav_bar .navbar-nav > li:hover {
  border-bottom: 3px solid #3da9f7;
  font-weight: bold;
}
.icon-big-w {
  display: inline-block;
  width: 25px;
}
.text-indent {
  text-indent: 2em !important;
}
.header-v1 .navbar-default {
  border-bottom: 2px solid #ddd !important;
}
