<extend name="Public/base"/>

<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>项目核心成员</h2>
    </div>
    <div class="clearfix">
        <div class="col-xs-10">
            <a class="btn btn-info " href="{:U('admin/project/addCoreteam',array('id'=>$projectid))}">新增核心成员信息
            </a>
            <button class="btn btn-danger ajax-post" url="{:U('admin/project/delCoreteam')}"
                    target-form="ids">删除核心成员信息
            </button>
        </div>

    </div>
    <!-- 数据列表 -->
    <div class="data-table with-padding">
        <table class="table table-bordered table-striped ">
            <thead>
            <tr>
                <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                <th class="">真实姓名</th>
                <th class="">项目中职位</th>
                <th class="">常用邮箱</th>
                <th class="">所在地</th>
                <th class="">操作</th>
            </tr>
            </thead>
            <tbody>
            <notempty name="_list">
                <volist name="_list" id="vo">
                    <tr>
                        <td><input class="ids" type="checkbox" name="ids[]" value="{$vo.id}"/></td>
                        <td>{$vo.name}</td>
                        <td>{$vo.position}</td>
                        <td>{$vo.email}</td>
                        <td>{$vo.address}</td>
                        <td>
                            <div class="btn-group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">操作 <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupDrop1">
                                    <li><a  href="{:U('/Admin/project/coreteamEducation',array('id'=>$vo['id']))}" >教育经历</a></li>
                                    <li><a  href="{:U('/Admin/project/coreteamExperience',array('id'=>$vo['id']))}" >工作经历</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </volist>
                <else/>
                <td colspan="9" class="text-center">尚未添加核心成员</td>
            </notempty>
            </tbody>
        </table>
    </div>
    <div class="with-padding">
        {$_page}
    </div>
</block>

<block name="script">

</block>