
<div class="container">
   <div><h2>专家详情页面 自带审核通过不通过功能</h2></div>
    <div class="col-xs-3 text-center">
        <img src="__PUBLIC__/images/default_avatar_64_64.jpg">
    </div>
    <div class="col-xs-9">
        <div>
        <div class="col-sm-5">
            <label class="">姓名：</label>
            <label class="">周海天</label>
        </div>
        <div class="col-sm-7">
            <label class="">擅长领域:</label>
            <label class="">生物科学</label>
        </div>
        </div>
        <div>
        <div class="col-sm-5">
            <label class="">联系电话:</label>
            <label class="">18207135869</label>
        </div>
        <div class="col-sm-7">
            <label class="">联系地址:</label>
            <label class="">湖北武汉高新大道未来科技城</label>
        </div>
        </div>
    </div>
    <div>

    </div>
</div>