body {
  padding-bottom: 0;
}
.nav_bar .navbar-nav > li:hover {
  font-weight: normal;
}
body * {
  font-family: 微软雅黑;
}
.dom_hidden {
  visibility: hidden;
}
.servicez:hover {
  color: #00A0E9;
  cursor: pointer;
}
.servicez:hover .servicez_logo i {
  background-color: #00A0E9;
}
.servicez_title {
  font-size: 18px;
}
.servicez_logo {
  margin-top: 12px;
}
.servicez_info {
  font-size: 12px;
  padding: 5px 2px;
  line-height: 25px;
}
.employee_service_logo {
  background: url("../images/page2.png");
  background-size: cover;
  width: 250px;
  height: 180px;
  margin: 0 auto;
}
.text-weight {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 2px;
  margin-top: 10px;
}
.service_desc {
  font-size: 12px;
}
.turnblue {
  height: 2px;
  background-color: #F1F1F1;
}
.zht_s:hover .turnblue {
  background-color: #00A0E9;
}
.turnblue-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 2px;
  line-height: 40px;
  color: #666;
  cursor: pointer;
}
.zht_s:hover .turnblue-btn {
  background-color: #00A0E9;
  border: 1px solid #00A0E9;
  color: #fff;
  font-weight: 600;
}
.oversea_center {
  margin-top: 20px;
  cursor: pointer;
}
.oversea_center .oversea_center_top {
  line-height: 62px;
}
.zht_s:hover .oversea_center .oversea_center_top {
  color: #00A0E9 !important;
}
.zht_s:hover .oversea_center h3 {
  color: #00A0E9 !important;
}
.zht_s:hover .oversea_center p {
  color: #00A0E9 !important;
}
.oversea_center p {
  font-size: 12px;
}
.zht_s:hover .oversea_center .oversea_center_top i.icon-custom {
  color: #00A0E9 !important;
  border: solid 1px #00A0E9;
}
.oversea_middle .oversea_middle_text {
  width: 140px;
  text-align: center;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  cursor: pointer;
}
.oversea_middle .oversea_middle_text .right-line {
  font-size: 25px;
  color: #00A0E9;
  position: absolute;
  top: 30px;
  left: 130px;
  display: none;
}
.oversea_middle .oversea_middle_text i.icon-custom {
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 30px;
}
.oversea_middle .oversea_middle_text span {
  font-size: 18px;
}
.oversea_middle .oversea_middle_text:hover i.icon-custom {
  /* transform: scale(1.1, 1.1); */
  color: #fff;
  border: solid 1px #00A0E9;
  background-color: #00A0E9;
}
.oversea_middle .oversea_middle_text:hover span {
  color: #00A0E9;
  /* font-size: 20px; */
}
.oversea_middle .oversea_middle_text:hover .right-line {
  display: block;
}
.oversea_button .latest-tweets-inner {
  font-size: 16px;
  color: #666;
}
.oversea_button .oversea-num {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #666;
  border-radius: 50%;
  margin-right: 10px;
  color: #fff;
  text-align: center;
  margin-top: 10px;
  line-height: 20px;
}
.website {
  margin-top: 20px;
  margin-bottom: 20px;
}
.website .website-top {
  background-color: #00a0e9;
  height: 30px;
  line-height: 30px;
  color: #fff;
}
.website .website-body {
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 15px;
  overflow: hidden;
}
.website .website-body .website-body-top {
  overflow: hidden;
}
.website .website-body .website-body-top .num {
  margin-left: -15px;
  margin-top: 5px;
  width: 40px;
  height: 40px;
  color: #00a0e9;
  border-radius: 2px;
  line-height: 38px;
  text-align: center;
  border: 1px solid #00a0e9;
}
.website .website-body .website-body-top .top {
  font-size: 18px;
}
.website .website-body .website-body-top .top span {
  color: #00a0e9;
}
.website .website-body .website-body-top p {
  color: #999;
}
.website .website-body .website-body-desc p {
  font-size: 14px;
}
.website .website-body .hehe {
  overflow: hidden;
  margin-top: 20px;
}
.website .website-body .hehe .num {
  width: 30px;
  height: 30px;
  color: #00a0e9;
  border-radius: 2px;
  line-height: 28px;
  text-align: center;
  border: 1px solid #00a0e9;
}
.website .website-body .hehe .text {
  line-height: 28px;
  font-size: 16px;
  coler: #666;
}
