<nav class="menu forum-side" data-toggle="menu">


    <php>$myForums=D('Forum')->getFollowForums(is_login());</php>

    <ul class="forum-menu" style="background: #ffffff">
        <li class="show">
            <a class="parent" href="#"><i class="icon-heart"></i> {:L('_MY_FOLLOW_')}</a>
            <ul class="nav">
                <volist name="myForums" id="each_forum">
                    <li class=""><a
                            href="{:U('Index/forum',array('id'=>$each_forum['id']))}" class="fav"><i
                            class="icon-heart"></i> {$each_forum.title|op_t}</a></li>
                </volist>
                <empty name="myForums">
                    <li><a class="child">
                        <i class="icon-inbox"></i>
                        {:L('_EMPTY_FOLLOW')}
                    </a></li>
                </empty>
            </ul>
        </li>

        <volist name="types" id="type">
            <li class=" show">
                <a href="#" class="parent"><i class="icon-plus"></i> {$type.title}</a>
                <ul class="nav">
                    <volist name="type.forums" id="each_forum">
                        <li class="forum_{$each_forum.id}" class=""><a
                                href="{:U('Index/forum',array('id'=>$each_forum['id']))}" class="child">{$each_forum.title|op_t}</a></li>
                    </volist>
                </ul>
            </li>
        </volist>

    </ul>
    <script>
        $('.forum_{$forum_id}').addClass('active')
    </script>
</nav>

{:W('Event/RecommendEvent/recommendEvent')}

{:W('HotPost/lists',array('forum_id'=>$forum_id))}

