<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <link rel="stylesheet" href="__PUBLIC__/new-style/plugins/owl-carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="__PUBLIC__/new-style/plugins/layer-slider/layerslider/css/layerslider.css">
    <link rel="stylesheet" href="__PUBLIC__/new-style/plugins/parallax-slider/css/parallax-slider.css">
    <include file="Public/head" />
    <link href="__CSS__/home.css" type="text/css" rel="stylesheet">
    <php> D('Member')->need_login();</php>
    <!-- CSS Implementing Plugins -->
</head>

<body class="header-fixed">
    <div class="wrapper">
        <include file="Public/header" />
        <!--=== Slider ===-->
        <div id="layerslider" style="width: 100%; height: 500px;">
            <!-- First slide -->
            <div class="ls-slide" style="slidedirection: right; transition2d: 92,93,105; ">
                <img src="__IMG__/new-banner-11.jpg " class="ls-bg" alt="Slide background" id="Img-top1" />
                <i class="fa fa-chevron-circle-right ls-s-1" style=" color: #FFFFFF; font-size: 24px; top:73px; left: -50px; slidedirection : left; slideoutdirection : top; durationin : 1500; durationout : 500; "></i>
                <span class="ls-s-2" style=" color: #FFFFFF; font-weight: 200; font-size: 22px; top:70px; left: -20px; slidedirection : top; slideoutdirection : bottom; durationin : 1500; durationout : 500; ">
                    引进全球顶尖技术
                </span>
                <i class="fa fa-chevron-circle-right ls-s-1" style=" color: #FFFFFF; font-size: 24px; top:123px; left: -50px; slidedirection : left; slideoutdirection : top; durationin : 2500; durationout : 1500; "></i>
                <span class="ls-s-2" style=" color: #FFFFFF; font-weight: 200; font-size: 22px; top:120px; left: -20px; slidedirection : top; slideoutdirection : bottom; durationin : 2500; durationout : 1500; ">
                    网罗海内外高端技术人才
                </span>
                <i class="fa fa-chevron-circle-right ls-s-1" style=" color: #FFFFFF; font-size: 24px; top:173px; left: -50px; slidedirection : left; slideoutdirection : top; durationin : 3500; durationout : 3500; "></i>
                <span class="ls-s-2" style=" color: #FFFFFF; font-weight: 200; font-size: 22px; top:170px; left: -20px; slidedirection : top; slideoutdirection : bottom; durationin : 3500; durationout : 2500; ">
                    引进国内外优秀科技项目
                </span>
                <i class="fa fa-chevron-circle-right ls-s-1" style=" color: #FFFFFF; font-size: 24px; top:223px; left: -50px; slidedirection : left; slideoutdirection : top; durationin : 4500; durationout : 3500; "></i>
                <span class="ls-s-2" style=" color: #FFFFFF; font-weight: 200; font-size: 22px; top:220px; left: -20px; slidedirection : top; slideoutdirection : bottom; durationin : 4500; durationout : 3500; ">
                    助力科技人才离岸创新创业
                </span>
                <i class="fa fa-chevron-circle-right ls-s-1" style=" color: #FFFFFF; font-size: 24px; top:273px; left: -50px; slidedirection : left; slideoutdirection : top; durationin : 5500; durationout : 4500; "></i>
                <span class="ls-s-2" style=" color: #FFFFFF; font-weight: 200; font-size: 22px; top:270px; left: -20px; slidedirection : top; slideoutdirection : bottom; durationin : 5500; durationout : 4500; ">
                    解读最新科技专项政策
                </span>
                <a class="btn-u btn-u-blue ls-s1" href="#" style=" padding: 9px 20px; font-size:25px; top:340px; left: 40px; slidedirection : bottom; slideoutdirection : bottom; durationin : 6500; durationout : 3500; ">
                创新创业
            </a>
                <!--<img src="__PUBLIC__/new-style/img/mockup/iphone1.png" alt="Slider Image" class="ls-s-1"-->
                <!--style=" top:30px; left: 650px; slidedirection : right; slideoutdirection : bottom; durationin : 1500; durationout : 1500; ">-->
            </div>
            <!-- End First slide -->
            <!-- Second Slide -->
            <div class="ls-slide" data-ls="slidedelay:4500; transition2d:25;">
                <img src="__IMG__/bannner-2.png" class="ls-bg" alt="Slide background" id="Img-top2" />
                <img class="ls-l" src="__PUBLIC__/new-style/img/mockup/iphone1.png" style="top: 85%; left: 44%;" data-ls="offsetxin:left; durationin:1500; delayin:900; fadein:false; offsetxout:left; durationout:1000; fadeout:false;" />
                <img src="__PUBLIC__/new-style/img/mockup/iphone.png" alt="Slider image" class="ls-s-1" style=" top:62px; left: 29%;" data-ls="offsetxin:left; durationin:1500; delayin:1500; fadein:false; offsetxout:left; durationout:1000; fadeout:false;">
                <span class="ls-s-1" style=" text-transform: uppercase; line-height: 45px; font-size:35px; color:#FFFFFF; top:100px; left: 590px; slidedirection : top; slideoutdirection : bottom; durationin : 3500; durationout : 3500; delayin : 1000;">
                    为海外科技人才，提供一站式创新创业服务
                </span>
                <a class="btn-u  ls-s-1" href="#" style=" padding: 9px 20px; font-size:25px; top:250px; left: 590px; slidedirection : bottom; slideoutdirection : top; durationin : 3500; durationout : 2500; delayin : 1000; ">
                人才引进
            </a>
            </div>
            <!-- End Second Slide -->
            <!-- Third Slide -->
            <div class="ls-slide" data-ls="transition2d:93;">
                <img src="__IMG__/bew-withtext.png" class="ls-bg" alt="Slide background" id="Img-top3">
                <i class="fa fa-chevron-circle-right ls-s-1" style=" color: #FFFFFF; font-size: 24px; top:84px; left: 15px; slidedirection : left; slideoutdirection : top; durationin : 1500; durationout : 500; "></i>
                <span class="ls-s-2" style=" color: #FFFFFF; font-weight: 200; font-size: 22px; top:80px; left: 45px; slidedirection : top; slideoutdirection : bottom; durationin : 1500; durationout : 500; ">
                    提供项目孵化器
                </span>
                <i class="fa fa-chevron-circle-right ls-s-1" style=" color: #FFFFFF; font-size: 24px; top:134px; left: 15px; slidedirection : left; slideoutdirection : top; durationin : 2500; durationout : 1500; "></i>
                <span class="ls-s-2" style=" color: #FFFFFF; font-weight: 200; font-size: 22px; top:130px; left: 45px; slidedirection : top; slideoutdirection : bottom; durationin : 2500; durationout : 1500; ">
                    打破科技供需双方信息屏障
                </span>
                <i class="fa fa-chevron-circle-right ls-s-1" style=" color: #FFFFFF; font-size: 24px; top:184px; left: 15px; slidedirection : left; slideoutdirection : top; durationin : 3500; durationout : 3500; "></i>
                <span class="ls-s-2" style=" color: #FFFFFF; font-weight: 200; font-size: 22px; top:180px; left: 45px; slidedirection : top; slideoutdirection : bottom; durationin : 3500; durationout : 2500; ">
                    开展科技成果转化工作
                </span>
                <a class="btn-u btn-u-blue ls-s1" href="#" style=" padding: 9px 20px; font-size:25px; top:300px; left: 40px; slidedirection : bottom; slideoutdirection : bottom; durationin : 6500; durationout : 3500; ">
                科技创新
            </a>
            </div>
            <!-- Third Slide -->
        </div>
        <!--/layer_slider-->
        <!--=== End Slider ===-->
        <div class="call-action-v1 bg-color-light">
            <div class="container">
                <div class="call-action-v1-box">
                    <div class="call-action-v1-in">
                        <p>面向国内外引进全球顶尖技术、项目和人才，为海内外科技人才创新创业提供综合信息服务。</p>
                    </div>
                    <div class="call-action-v1-in inner-btn page-scroll">
                        <a href="#portfolio" class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-block">联系区域负责人</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container ">
            <div class="margin-bottom-10"></div>
            <!-- Recent Works -->
            <div class="owl-carousel-v1 owl-work-v1 ">
                <div class="headline">
                    <h2 class="pull-left">离岸服务</h2>
                    <div class="owl-navigation">
                        <div class="customNavigation dom_hidden">
                            <a class="owl-btn prev-v2"><i class="fa fa-angle-left"></i></a>
                            <a class="owl-btn next-v2"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                    <!--/navigation-->
                </div>
                <div class="col-lg-12 ">
                    <div class="col-lg-3">
                        <div>
                            <div class="row servicez">
                                <div class="col-sm-2 servicez_logo"><i class="icon-custom icon-sm rounded-x icon-bg-darker icon-file-text-o"></i></div>
                                <div class="col-sm-10">
                                    <span class="servicez_title">高新技术企业申报</span>
                                    <br>
                                    <span class="service_desc">一站式高新技术企业认证申报服务</span>
                                </div>
                            </div>
                        </div>
                        <div class="servicez_info">
                            无偿提供专项资金，税收优惠40%、研发费加计扣除政策，地方政府资源支持，融资上市优先支持，国家政府的各项业务扶持。
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div>
                            <div class="row servicez">
                                <div class="col-sm-2 servicez_logo"><i class="icon-custom icon-sm rounded-x icon-bg-darker icon-user"></i></div>
                                <div class="col-sm-10">
                                    <span class="servicez_title">人才引进政策申报</span>
                                    <br>
                                    <span class="service_desc">专注于国内外科学技术精尖人才引进</span>
                                </div>
                            </div>
                        </div>
                        <div class="servicez_info">
                            积极向湖北省、武汉市、东湖高新区引荐、推荐高层次人才，力争入选高新技术人才创新创业项目。
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div>
                            <div class="row servicez">
                                <div class="col-sm-2 servicez_logo"><i class="icon-custom icon-sm rounded-x icon-bg-darker icon-file-text"></i></div>
                                <div class="col-sm-10">
                                    <span class="servicez_title">国家科研项目申报</span>
                                    <br>
                                    <span class="service_desc">具有丰富的科技科研项目申报经验</span>
                                </div>
                            </div>
                        </div>
                        <div class="servicez_info">
                            推动企业承担国家级科研创新项目，结合企业自身技术和国家科研及资金力量，推动行业技术突破，实现企业转型升级。
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div>
                            <div class="row servicez">
                                <div class="col-sm-2 servicez_logo"><i class="icon-custom icon-sm rounded-x icon-bg-darker icon-collapse-full"></i></div>
                                <div class="col-sm-10">
                                    <span class="servicez_title">政府支持企业政策咨询</span>
                                    <br>
                                    <span class="service_desc">提供专业的国内外政策支持咨询服务</span>
                                </div>
                            </div>
                        </div>
                        <div class="servicez_info">
                            第一时间掌握国家创新创业政策，利用全球科技和政策资源，制定最优解决方案，为企业发展提供政策咨询服务。
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container ">
            <div class="margin-bottom-10"></div>
            <!-- Recent Works -->
            <div class="owl-carousel-v1 owl-work-v1 ">
                <div class="headline">
                    <h2 class="pull-left">科技项目</h2>
                    <div class="owl-navigation">
                        <div class="customNavigation dom_hidden">
                            <a class="owl-btn prev-v2"><i class="fa fa-angle-left"></i></a>
                            <a class="owl-btn next-v2"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                    <!--/navigation-->
                </div>
                <div class="owl-recent-works-v1">
                    <volist name="project" id="item">
                        <div class="item">
                            <a href="{:U('project/view/detail',array('id'=>$item['project_id']))}">
                                <em class="overflow-hidden">
                                <img class="img-responsive" src="{$item.path}" alt="" style="height:250px;width: 100%;">
                            </em>
                                <span>
                                <h4>{$item.project_name}</h4>
                                <p  style="font-size: 11px;text-align: center;height: 60px">{$item.shortdesc}</p>
                            </span>
                            </a>
                        </div>
                    </volist>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="margin-bottom-10"></div>
            <!-- Recent Works -->
            <div class="owl-carousel-v1 owl-work-v1 ">
                <div class="headline">
                    <h2 class="pull-left">企业服务</h2>
                    <div class="owl-navigation">
                        <div class="customNavigation dom_hidden">
                            <a class="owl-btn prev-v2"><i class="fa fa-angle-left"></i></a>
                            <a class="owl-btn next-v2"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                    <!--/navigation-->
                </div>
                <div class="col-lg-12" style="padding-bottom: 20px;">
                    <div class="col-lg-3 text-center zht_s">
                        <div>
                            <div class="item">
                                <a href="javascript:void(0)">
                                    <em class="overflow-hidden">
                                     <img class="img-responsive" src="__IMG__/knowldege.jpg" alt="">
                                  </em>
                                </a>
                            </div>
                        </div>
                        <div>
                            <p class="text-weight">知识产权服务</p>
                            <p>发挥知识产权的巨大价值</p>
                        </div>
                        <div class="turnblue"></div>
                    </div>
                    <div class="col-lg-3 text-center zht_s">
                        <div>
                            <div class="item">
                                <a href="javascript:void(0)">
                                    <em class="overflow-hidden">
                                    <img class="img-responsive" src="__IMG__/law.jpg" alt="" >
                                </em>
                                </a>
                            </div>
                        </div>
                        <div>
                            <p class="text-weight">法律服务</p>
                            <p>提供专业的法律服务</p>
                        </div>
                        <div class="turnblue"></div>
                    </div>
                    <div class="col-lg-3 text-center zht_s">
                        <div>
                            <div class="item">
                                <a href="javascript:void(0)">
                                    <em class="overflow-hidden">
                                    <img class="img-responsive" src="__IMG__/shiping.jpg" alt="" >
                                </em>
                                </a>
                            </div>
                        </div>
                        <div>
                            <p class="text-weight">国际会议视频</p>
                            <p>随时随地召开国际会议</p>
                        </div>
                        <div class="turnblue"></div>
                    </div>
                    <div class="col-lg-3 text-center zht_s">
                        <div>
                            <div class="item">
                                <a href="javascript:void(0)">
                                    <em class="overflow-hidden">
                                    <img class="img-responsive" src="__IMG__/transalte.jpg" alt="" >
                                </em>
                                </a>
                            </div>
                        </div>
                        <div>
                            <p class="text-weight">翻译服务</p>
                            <p>一流服务品质，超越客户期望</p>
                        </div>
                        <div class="turnblue"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="parallax-counter-v2 parallaxBg1 headline-light" style="background-position: 50% -74px;color:#eee !important;">
            <div class="container">
                <!-- Info Blokcs -->
                <div class="row margin-bottom-20">
                    <!-- Welcome Block -->
                    <div class="col-md-8 md-margin-bottom-40">
                        <div class="headline">
                            <h2>快捷服务</h2></div>
                        <div class="row content-boxes-v2 margin-bottom-30">
                            <div class="col-md-3 md-margin-bottom-30">
                                <h2 class="heading-sm">
                                <a class="link-bg-icon" href="#">
                                    <i class="icon-custom icon-sm rounded-x icon-bg-darker fa fa-compress"></i>
                                    <span>找项目</span>
                                </a>
                            </h2>
                                <p class="text-justify">面向国内外引进全球顶尖科技项目</p>
                            </div>
                            <div class="col-md-3 md-margin-bottom-30">
                                <h2 class="heading-sm">
                                <a class="link-bg-icon" href="#">
                                    <i class="icon-custom icon-sm rounded-x icon-bg-darker fa fa-html5"></i>
                                    <span>找人才</span>
                                </a>
                            </h2>
                                <p class="text-justify">网罗海内外高端技术人才</p>
                            </div>
                            <div class="col-md-3 md-margin-bottom-30">
                                <h2 class="heading-sm">
                                <a class="link-bg-icon" href="#">
                                    <i class="icon-custom icon-sm rounded-x icon-bg-darker icon-line icon-rocket"></i>
                                    <span>找资金</span>
                                </a>
                            </h2>
                                <p class="text-justify">只要您有好的点子或项目，即可来寻找资金</p>
                            </div>
                            <div class="col-md-3 md-margin-bottom-30">
                                <h2 class="heading-sm">
                                <a class="link-bg-icon" href="#">
                                    <i class="icon-custom icon-sm rounded-x icon-bg-darker icon-line icon-rocket"></i>
                                    <span>找市场</span>
                                </a>
                            </h2>
                                <p class="text-justify">为您的优秀项目提供市场推广服务</p>
                            </div>
                        </div>
                        <blockquote class="hero-unify">
                            <p>面向海外科技人才，通过市场化手段，打造具有引才引智、创业孵化、专业服务保障等功能的国际化综合性创业平台</p>
                            <small>中国（武汉）海外科技人才离岸创新创业中心</small>
                        </blockquote>
                    </div>
                    <!--/col-md-8-->
                    <!-- Latest Shots -->
                    <div class="col-md-4 md-margin-bottom-20">
                        <div class="headline">
                            <h2>离岸创新创业指南</h2></div>
                        <div id="myCarousel" class="carousel slide carousel-v1">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="__PUBLIC__/new-style/img/main/img5.jpg" alt="">
                                    <div class="carousel-caption">
                                        <p>海外科技人才政策</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="__PUBLIC__/new-style/img/main/img4.jpg" alt="">
                                    <div class="carousel-caption">
                                        <p>技术专家（招才引智）</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="__PUBLIC__/new-style/img/main/img3.jpg" alt="">
                                    <div class="carousel-caption">
                                        <p>助力科技人才创新创业</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-arrow">
                                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--/col-md-4-->
                </div>
                <!--/row-->
                <!-- End Info Blokcs -->
            </div>
            <!--/end row-->
        </div>
        <!--/end container-->
        <div class="container content margin-bottom-40">
            <div class="margin-bottom-10"></div>
            <!--我们的客户-->
            <div class="headline">
                <h2>合作伙伴</h2></div>
            <div class="owl-clients-v1">
                <a href="/helpcenter/index/index/id/3.html" class="item">
                    <img src="__ROOT__/Public/images/logos/ige.png" alt="">
                </a>
                <a href="/helpcenter/index/index/id/3.html" class="item">
                    <img src="__ROOT__/Public/images/logos/dizhidaxue.png" alt="">
                </a>
                <a href="/helpcenter/index/index/id/3.html" class="item">
                    <img src="__ROOT__/Public/images/logos/logo_of_FPX.jpg" alt="">
                </a>
                <a href="/helpcenter/index/index/id/3.html" class="item">
                    <img src="__ROOT__/Public/images/logos/luntron.png" alt="">
                </a>
                <a href="/helpcenter/index/index/id/3.html" class="item">
                    <img src="__ROOT__/Public/images/logos/Sinonex_logo.png" alt="">
                </a>
                <a href="/helpcenter/index/index/id/3.html" class="item">
                    <img src="__ROOT__/Public/images/logos/logo_of_FPX.jpg" alt="">
                </a>
                <a href="/helpcenter/index/index/id/3.html" class="item">
                    <img src="__ROOT__/Public/images/logos/luntron.png" alt="">
                </a>
                <a href="/helpcenter/index/index/id/3.html" class="item">
                    <img src="__ROOT__/Public/images/logos/Sinonex_logo.png" alt="">
                </a>
            </div>
            <!-- End Owl Clients v1 -->
        </div>
    </div>
    <include file="Public/footer" />
    </div>
    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="__PUBLIC__/new-style/plugins/jquery/jquery-migrate.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="__PUBLIC__/new-style/plugins/smoothScroll.js"></script>
    <script type="text/javascript" src="__PUBLIC__/new-style/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="__PUBLIC__/new-style/plugins/layer-slider/layerslider/js/greensock.js"></script>
    <script type="text/javascript" src="__PUBLIC__/new-style/plugins/layer-slider/layerslider/js/layerslider.transitions.js"></script>
    <script type="text/javascript" src="__PUBLIC__/new-style/plugins/layer-slider/layerslider/js/layerslider.kreaturamedia.jquery.js"></script>
    <!-- JS Customization -->
    <script type="text/javascript" src="__PUBLIC__/new-style/js/custom.js"></script>
    <!-- JS Page Level -->
    <script type="text/javascript" src="__PUBLIC__/new-style/js/app.js"></script>
    <script type="text/javascript" src="__PUBLIC__/new-style/js/plugins/layer-slider.js"></script>
    <script type="text/javascript" src="__PUBLIC__/new-style/js/plugins/style-switcher.js"></script>
    <script type="text/javascript" src="__PUBLIC__/new-style/js/plugins/owl-carousel.js"></script>
    <script type="text/javascript" src="__PUBLIC__/new-style/js/plugins/owl-recent-works.js"></script>
    <script src="__PUBLIC__/new-style/plugins/jquery.parallax.js"></script>
    <script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        LayerSlider.initLayerSlider();
        App.initParallaxBg();
        StyleSwitcher.initStyleSwitcher();
        OwlCarousel.initOwlCarousel();
        OwlRecentWorks.initOwlRecentWorksV2();
    });
    </script>
    <!--[if lt IE 9]>
<script src="__PUBLIC__/new-style/plugins/respond.js"></script>
<script src="__PUBLIC__/new-style/plugins/html5shiv.js"></script>
<script src="__PUBLIC__/new-style/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->
</body>

</html>
