<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <link rel="stylesheet" href="__PUBLIC__/new-style/plugins/owl-carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="__PUBLIC__/new-style/plugins/layer-slider/layerslider/css/layerslider.css">
    <link rel="stylesheet" href="__PUBLIC__/new-style/plugins/parallax-slider/css/parallax-slider.css">
    <include file="Public/head" />
    <link href="__CSS__/home.css" type="text/css" rel="stylesheet">
    <php> D('Member')->need_login();</php>
    <!-- CSS Implementing Plugins -->
</head>

<body class="header-fixed">
    <div class="wrapper">
        <include file="Public/header" />
        <!--=== Slider ===-->
        <div id="layerslider" style="width: 100%; height: 500px;">
            <!-- First slide -->
            <div class="ls-slide" style="slidedirection: right; transition2d: 92,93,105; ">
                <img src="__IMG__/hehe1.jpg " class="ls-bg" alt="Slide background" id="Img-top1" />
                <i class="fa fa-chevron-circle-right ls-s-1" style=" color: #555; font-size: 24px; top:73px; left: 470px; slidedirection : left; slideoutdirection : top; durationin : 500; durationout : 500; "></i>
                <span class="ls-s-2" style=" color: #555; font-weight: 200; font-size: 22px; top:70px; left: 500px; slidedirection : top; slideoutdirection : bottom; durationin : 500; durationout : 500; ">
                    无偿提供专项资金
                </span>
                <i class="fa fa-chevron-circle-right ls-s-1" style=" color: #555; font-size: 24px; top:133px; left: 470px; slidedirection : left; slideoutdirection : top; durationin : 1500; durationout : 1500; "></i>
                <span class="ls-s-2" style=" color: #555; font-weight: 200; font-size: 22px; top:130px; left: 500px; slidedirection : top; slideoutdirection : bottom; durationin : 1500; durationout : 1500; ">
                    税收优惠
                </span>
                <i class="fa fa-chevron-circle-right ls-s-1" style=" color: #555; font-size: 24px; top:193px; left: 470px; slidedirection : left; slideoutdirection : top; durationin : 2500; durationout : 2500; "></i>
                <span class="ls-s-2" style=" color: #555; font-weight: 200; font-size: 22px; top:190px; left: 500px; slidedirection : top; slideoutdirection : bottom; durationin : 2500; durationout : 2500; ">
                    研发经费加计扣除
                </span>
                <i class="fa fa-chevron-circle-right ls-s-1" style=" color: #555; font-size: 24px; top:253px; left: 470px; slidedirection : left; slideoutdirection : top; durationin : 3500; durationout : 3500; "></i>
                <span class="ls-s-2" style=" color: #555; font-weight: 200; font-size: 22px; top:250px; left: 500px; slidedirection : top; slideoutdirection : bottom; durationin : 3500; durationout : 3500; ">
                    地方政府资源支持
                </span>
                <a class="btn-u btn-u-blue ls-s1" href="#" style=" padding: 9px 20px; font-size:25px; top:340px; left: 470px; slidedirection : bottom; slideoutdirection : bottom; durationin : 4500; durationout : 4500; ">
                高新技术企业申报
            </a>
                <!--<img src="__PUBLIC__/new-style/img/mockup/iphone1.png" alt="Slider Image" class="ls-s-1"-->
                <!--style=" top:30px; left: 650px; slidedirection : right; slideoutdirection : bottom; durationin : 1500; durationout : 1500; ">-->
            </div>
            <!-- End First slide -->
            <!-- Second Slide -->
            <div class="ls-slide" data-ls="slidedelay:4500; transition2d:25;">
                <img src="__IMG__/hehe2.jpg" class="ls-bg" alt="Slide background" id="Img-top2" />
                <span class="ls-s-1" style="line-height: 50px; font-size:35px; color:#555; top:100px; left: 90px; slidedirection : top; slideoutdirection : bottom; durationin : 500; durationout : 500;">
                    向省、市、区推荐高层次人才
                </span>
                <span class="ls-s-1" style="line-height: 50px; font-size:35px; color:#555; top:180px; left: 90px; slidedirection : top; slideoutdirection : bottom; durationin : 1500; durationout : 1500;">
                    力争入选人才计划
                </span>
                <a class="btn-u btn-u-blue  ls-s-1" href="#" style=" padding: 9px 20px; font-size:25px; top:290px; left: 90px; slidedirection : bottom; slideoutdirection : top; durationin : 2500; durationout : 2500;">
                人才引进政策申报
            </a>
            </div>
            <!-- End Second Slide -->
            <!-- Third Slide -->
            <div class="ls-slide" data-ls="transition2d:93;">
                <img src="__IMG__/hehe3.jpg" class="ls-bg" alt="Slide background" id="Img-top3">
                <i class="fa fa-chevron-circle-right ls-s-1" style=" color: #555; font-size: 24px; top:73px; left: 470px;slidedirection : left; slideoutdirection : top; durationin : 500; durationout : 500; "></i>
                <span class="ls-s-2" style=" color: #555; font-weight: 200; font-size: 22px; top:70px; left: 500px; slidedirection : top; slideoutdirection : bottom; durationin : 500; durationout : 500; ">
                    推动企业承担国家级科研创新项目
                </span>
                <i class="fa fa-chevron-circle-right ls-s-1" style=" color: #555; font-size: 24px; top:133px; left: 470px; slidedirection : left; slideoutdirection : top; durationin : 1500; durationout : 1500; "></i>
                <span class="ls-s-2" style=" color: #555; font-weight: 200; font-size: 22px; top:130px; left: 500px; slidedirection : top; slideoutdirection : bottom; durationin : 1500; durationout : 1500; ">
                    结合企业自身技术和国家科研及资金力量
                </span>
                <i class="fa fa-chevron-circle-right ls-s-1" style=" color: #555; font-size: 24px; top:193px; left: 470px; slidedirection : left; slideoutdirection : top; durationin : 2500; durationout : 2500; "></i>
                <span class="ls-s-2" style=" color: #555; font-weight: 200; font-size: 22px; top:190px; left: 500px; slidedirection : top; slideoutdirection : bottom; durationin : 2500; durationout : 2500; ">
                    推动行业技术突破
                </span>
                <i class="fa fa-chevron-circle-right ls-s-1" style=" color: #555; font-size: 24px; top:253px; left: 470px; slidedirection : left; slideoutdirection : top; durationin : 3500; durationout : 3500; "></i>
                <span class="ls-s-2" style=" color: #555; font-weight: 200; font-size: 22px; top:250px; left: 500px; slidedirection : top; slideoutdirection : bottom; durationin : 3500; durationout : 3500; ">
                    实现企业转型升级
                </span>
                <a class="btn-u btn-u-blue ls-s1" href="#" style=" padding: 9px 20px; font-size:25px; top:340px; left: 470px; slidedirection : bottom; slideoutdirection : bottom; durationin : 4500; durationout : 4500; ">
                国家科研项目申报
            </a>
            </div>
            <!-- Third Slide -->
            <!-- Second Slide -->
            <div class="ls-slide" data-ls="slidedelay:4500; transition2d:25;">
                <img src="__IMG__/hehe4.jpg" class="ls-bg" alt="Slide background" id="Img-top2" />
                <span class="ls-s-1" style="line-height: 50px; font-size:35px; color:#555; top:100px; left: 90px; slidedirection : top; slideoutdirection : bottom; durationin : 500; durationout : 500;">
                    掌握国家最新创新创业政策
            </span>
                <span class="ls-s-1" style="line-height: 50px; font-size:35px; color:#555; top:180px; left: 90px; slidedirection : top; slideoutdirection : bottom; durationin : 1500; durationout : 1500;">
                    为企业发展提供政策咨询服务
            </span>
                <a class="btn-u btn-u-blue ls-s-1" href="#" style=" padding: 9px 20px; font-size:25px; top:290px; left: 90px; slidedirection : bottom; slideoutdirection : top; durationin : 2500; durationout : 2500;">
                政府支持企业政策咨询
            </a>
            </div>
            <!-- End Second Slide -->
        </div>
        <!--/layer_slider-->
        <!--=== End Slider ===-->
        <div class="call-action-v1 bg-color-light">
            <div class="container">
                <div class="call-action-v1-box">
                    <div class="call-action-v1-in">
                        <p>中国武汉海外科技人才离岸创新创业中心致力于为海外科技人才创业提供政策、知识产权、技术、投资等服务，显著提高海外科技人才落地创业的成功率，减少海外人才来中国创业的顾虑。</p>
                    </div>
                    <div class="call-action-v1-in inner-btn page-scroll">
                        <a href="#portfolio" class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-block">联系我们</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container ">
            <div class="owl-carousel-v1 owl-work-v1">
                <div style="height:50px;"></div>
                <div class="col-lg-3 text-center zht_s">
                    <div class="item">
                        <a href="javascript:void(0)">
                            <em class="overflow-hidden">
                                <img class="img-responsive" src="__IMG__/01.jpg" alt="">
                            </em>
                        </a>
                    </div>
                    <div class="row oversea_center">
                        <div class="col-sm-2 oversea_center_top"><i class="icon-custom icon-sm rounded-x icon-file-text-o"></i></div>
                        <div class="col-sm-10" style="padding-left: 10px;">
                            <h3 style="margin-bottom:0;text-align:left">高新技术企业申报</h3>
                            <p style="text-align:left">一站式高新技术企业认证申报服务</p>
                        </div>
                    </div>
                    <div class="turnblue-btn">立即申请</div>
                </div>
                <div class="col-lg-3 text-center zht_s">
                    <div class="item">
                        <a href="javascript:void(0)">
                            <em class="overflow-hidden">
                                <img class="img-responsive" src="__IMG__/02.jpg" alt="" >
                            </em>
                        </a>
                    </div>
                    <div class="row oversea_center">
                        <div class="col-sm-2 oversea_center_top"><i class="icon-custom icon-sm rounded-x icon-user"></i></div>
                        <div class="col-sm-10" style="padding-left: 10px;">
                            <h3 style="margin-bottom:0;text-align:left">人才引进政策申报</h3>
                            <p style="text-align:left">专注于国内外科学技术精尖人才引进</p>
                        </div>
                    </div>
                    <div class="turnblue-btn">立即申请</div>
                </div>
                <div class="col-lg-3 text-center zht_s">
                    <div class="item">
                        <a href="javascript:void(0)">
                            <em class="overflow-hidden">
                                <img class="img-responsive" src="__IMG__/03.jpg" alt="" >
                            </em>
                        </a>
                    </div>
                    <div class="row oversea_center">
                        <div class="col-sm-2 oversea_center_top"><i class="icon-custom icon-sm rounded-x icon-file-text"></i></div>
                        <div class="col-sm-10" style="padding-left: 10px;">
                            <h3 style="margin-bottom:0;text-align:left">国家科研项目申报</h3>
                            <p style="text-align:left">具有丰富的科技科研项目申报经验</p>
                        </div>
                    </div>
                    <div class="turnblue-btn">立即申请</div>
                </div>
                <div class="col-lg-3 text-center zht_s">
                    <div class="item">
                        <a href="javascript:void(0)">
                            <em class="overflow-hidden">
                                <img class="img-responsive" src="__IMG__/04.jpg" alt="" >
                            </em>
                        </a>
                    </div>
                    <div class="row oversea_center">
                        <div class="col-sm-2 oversea_center_top"><i class="icon-custom icon-sm rounded-x icon-collapse-full"></i></div>
                        <div class="col-sm-10" style="padding-left: 10px;">
                            <h3 style="margin-bottom:0;text-align:left">政府支持企业政策咨询</h3>
                            <p style="text-align:left">提供专业的国内外政策支持咨询服务</p>
                        </div>
                    </div>
                    <div class="turnblue-btn">立即申请</div>
                </div>
            </div>
        </div>
        <div class="container" style="margin-top:30px;">
            <!-- Recent Works -->
            <div class="owl-carousel-v1 owl-work-v1 ">
                <div class="headline">
                    <h2 class="pull-left">服务流程</h2>
                    <div class="owl-navigation">
                        <div class="customNavigation dom_hidden">
                            <a class="owl-btn prev-v2"><i class="fa fa-angle-left"></i></a>
                            <a class="owl-btn next-v2"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row oversea_middle">
                    <!-- <div class="col-sm-4">
                    <div class="text-center">
                        <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a1.jpg">
                        <div class="m-t-xs font-bold">CEO</div>
                    </div>
                </div> -->
                    <div class="oversea_middle_text"><i class="fa fa-angle-double-right right-line"></i><i class="icon-custom rounded-x fa fa-user-plus"></i>
                        <br><span>注册</span></div>
                    <div class="oversea_middle_text"><i class="fa fa-angle-double-right right-line"></i><i class="icon-custom rounded-x fa fa-user"></i>
                        <br><span>实名认证</span></div>
                    <div class="oversea_middle_text"><i class="fa fa-angle-double-right right-line"></i><i class="icon-custom rounded-x fa fa-institution"></i>
                        <br><span>机构认证</span></div>
                    <div class="oversea_middle_text"><i class="fa fa-angle-double-right right-line"></i><i class="icon-custom rounded-x fa fa-share-alt"></i>
                        <br><span>项目发布</span></div>
                    <div class="oversea_middle_text"><i class="fa fa-angle-double-right right-line"></i><i class="icon-custom rounded-x fa fa-check"></i>
                        <br><span>项目审核</span></div>
                    <div class="oversea_middle_text"><i class="fa fa-angle-double-right right-line"></i><i class="icon-custom rounded-x fa fa-newspaper-o"></i>
                        <br><span>项目汇报</span></div>
                    <div class="oversea_middle_text"><i class="fa fa-angle-double-right right-line"></i><i class="icon-custom rounded-x fa fa-paste"></i>
                        <br><span>项目准备材料</span></div>
                    <div class="oversea_middle_text"><i class="icon-custom rounded-x fa fa-external-link"></i>
                        <br><span>主管单位审批</span></div>
                </div>
            </div>
        </div>
        <div class="container oversea_button" style="margin-top:30px;">
            <div class="col-sm-4">
                <div class="headline">
                    <h2 class="heading-sm">服务承诺</h2></div>
                <div class="latest-tweets-inner">
                    <span class="oversea-num">1</span>一站式专业服务
                    <br>
                    <span class="oversea-num">2</span>一对一贴心服务
                    <br>
                    <span class="oversea-num">3</span>一体化便捷服务
                </div>
            </div>
            <div class="col-sm-8">
                <div class="headline">
                    <h2 class="heading-sm">服务说明</h2></div>
                <div class="latest-tweets-inner">
                    <span class="oversea-num">1</span>收费标准：根据不同项目采取不同收费标准
                    <br>
                    <span class="oversea-num">2</span>此服务由海外科技人才离岸创新创业中心提供，
                    <span style="margin-left:30px;display:inline-block;">仅限于湖北省辖区内以及有意愿在湖北省辖区展开经营等活动的企业，科技人才。</span>
                </div>
            </div>
        </div>
        <div class="container content margin-bottom-40">
            <div class="margin-bottom-10"></div>
            <!--我们的客户-->
            <div class="headline">
                <h2>合作伙伴</h2></div>
            <div class="owl-clients-v1">
                <a href="/helpcenter/index/index/id/3.html" class="item">
                    <img src="__ROOT__/Public/images/logos/ige.png" alt="">
                </a>
                <a href="/helpcenter/index/index/id/3.html" class="item">
                    <img src="__ROOT__/Public/images/logos/dizhidaxue.png" alt="">
                </a>
                <a href="/helpcenter/index/index/id/3.html" class="item">
                    <img src="__ROOT__/Public/images/logos/logo_of_FPX.jpg" alt="">
                </a>
                <a href="/helpcenter/index/index/id/3.html" class="item">
                    <img src="__ROOT__/Public/images/logos/luntron.png" alt="">
                </a>
                <a href="/helpcenter/index/index/id/3.html" class="item">
                    <img src="__ROOT__/Public/images/logos/Sinonex_logo.png" alt="">
                </a>
                <a href="/helpcenter/index/index/id/3.html" class="item">
                    <img src="__ROOT__/Public/images/logos/logo_of_FPX.jpg" alt="">
                </a>
                <a href="/helpcenter/index/index/id/3.html" class="item">
                    <img src="__ROOT__/Public/images/logos/luntron.png" alt="">
                </a>
                <a href="/helpcenter/index/index/id/3.html" class="item">
                    <img src="__ROOT__/Public/images/logos/Sinonex_logo.png" alt="">
                </a>
            </div>
            <!-- End Owl Clients v1 -->
        </div>
    </div>
    <include file="Public/footer" />
    </div>
    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="__PUBLIC__/new-style/plugins/jquery/jquery-migrate.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="__PUBLIC__/new-style/plugins/smoothScroll.js"></script>
    <script type="text/javascript" src="__PUBLIC__/new-style/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="__PUBLIC__/new-style/plugins/layer-slider/layerslider/js/greensock.js"></script>
    <script type="text/javascript" src="__PUBLIC__/new-style/plugins/layer-slider/layerslider/js/layerslider.transitions.js"></script>
    <script type="text/javascript" src="__PUBLIC__/new-style/plugins/layer-slider/layerslider/js/layerslider.kreaturamedia.jquery.js"></script>
    <!-- JS Customization -->
    <script type="text/javascript" src="__PUBLIC__/new-style/js/custom.js"></script>
    <!-- JS Page Level -->
    <script type="text/javascript" src="__PUBLIC__/new-style/js/app.js"></script>
    <script type="text/javascript" src="__PUBLIC__/new-style/js/plugins/layer-slider.js"></script>
    <script type="text/javascript" src="__PUBLIC__/new-style/js/plugins/style-switcher.js"></script>
    <script type="text/javascript" src="__PUBLIC__/new-style/js/plugins/owl-carousel.js"></script>
    <script type="text/javascript" src="__PUBLIC__/new-style/js/plugins/owl-recent-works.js"></script>
    <script src="__PUBLIC__/new-style/plugins/jquery.parallax.js"></script>
    <script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        LayerSlider.initLayerSlider();
        App.initParallaxBg();
        StyleSwitcher.initStyleSwitcher();
        OwlCarousel.initOwlCarousel();
        OwlRecentWorks.initOwlRecentWorksV2();

        $('.ul_menu li:eq(0)').removeClass('active')
        $('.ul_menu li:eq(1)').addClass('active')
    });
    </script>
    <!--[if lt IE 9]>
<script src="__PUBLIC__/new-style/plugins/respond.js"></script>
<script src="__PUBLIC__/new-style/plugins/html5shiv.js"></script>
<script src="__PUBLIC__/new-style/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->
</body>

</html>
