<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <link rel="stylesheet" href="__PUBLIC__/new-style/plugins/owl-carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="__PUBLIC__/new-style/plugins/layer-slider/layerslider/css/layerslider.css">
    <link rel="stylesheet" href="__PUBLIC__/new-style/plugins/parallax-slider/css/parallax-slider.css">
    <include file="Public/head" />
    <link href="__CSS__/home.css" type="text/css" rel="stylesheet">
    <php> D('Member')->need_login();</php>
    <!-- CSS Implementing Plugins -->
</head>

<body class="header-fixed">
    <div class="wrapper" style="background-color:#eee;">
        <include file="Public/header" />
        <!--=== Start Slider ===-->
        <div id="myNiceCarousel" class="carousel slide" data-ride="carousel">
            <!-- 圆点指示器 -->
            <ol class="carousel-indicators">
                <li data-target="#myNiceCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myNiceCarousel" data-slide-to="1"></li>
                <li data-target="#myNiceCarousel" data-slide-to="2"></li>
            </ol>
            <!-- 轮播项目 -->
            <div class="carousel-inner">
                <div class="item active">
                    <img alt="First slide" src="http://zui.sexy/docs/img/slide1.jpg" style="margin:0 auto;">
                    <div class="carousel-caption">
                        <h3>我是第一张幻灯片</h3>
                        <p>我是第一张幻灯片</p>
                    </div>
                </div>
                <div class="item">
                    <img alt="Second slide" src="http://zui.sexy/docs/img/slide2.jpg" style="margin:0 auto;">
                    <div class="carousel-caption">
                        <h3>我是第二张幻灯片</h3>
                        <p>我是第二张幻灯片</p>
                    </div>
                </div>
                <div class="item">
                    <img alt="Third slide" src="http://zui.sexy/docs/img/slide3.jpg" style="margin:0 auto;">
                    <div class="carousel-caption">
                        <h3>我是第三张幻灯片</h3>
                        <p>最后一张咯~</p>
                    </div>
                </div>
            </div>
            <!-- 项目切换按钮 -->
            <a class="left carousel-control" href="#myNiceCarousel" data-slide="prev">
                <span class="icon icon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#myNiceCarousel" data-slide="next">
                <span class="icon icon-chevron-right"></span>
            </a>
        </div>
        <!--=== End Slider ===-->
        <div class="container website">
            <div class="website-top">
                <div class="col-sm-10">
                    国外站点
                </div>
                <div class="col-sm-2" style="text-align:right;">
                    更多
                </div>
            </div>
            <div class="website-body">
                <div class="col-sm-4">
                    <img src="http://zui.sexy/docs/img/img1.jpg" width="400px" height="200px" class="img-rounded" alt="圆角图片">
                </div>
                <div class="col-sm-8">
                    <div class="website-body-top">
                        <div class="col-sm-1">
                            <div class="num">1</div>
                        </div>
                        <div class="col-sm-11">
                            <strong class="top"><span>EBN</span> | 欧洲商业与创新中心联盟</strong>
                            <p><i class="fa fa-map-marker"></i>&nbsp;&nbsp;比利时-布鲁塞尔</p>
                        </div>
                    </div>
                    <div class="website-body-desc">
                        <p>EBN是全球领先的非政府的泛欧网络，是欧洲最大的商业孵化中心（BICS）联盟，总部在布鲁塞尔。EBN是28年前由欧盟委员会和欧洲工业界和知识领袖联合倡议下创建的，目的是刺激新的创新型企业的出现和发展，帮助现有企业的现代化，并促进内源性欧洲地区的经济潜力的增长。EBN现有250多家成员单 位，1984年由欧洲及其他国家的孵化器、科技园和科研机构组成。EBN是基于企业的创新发动机，连接着科技、创新和企业，给科技孵化成员提供一套全面的认证和网络服务系统，以及部署和协调在相关领域的欧盟及国际项目合作。</p>
                    </div>
                </div>
            </div>
            <div class="website-body">
                <div class="col-sm-4">
                    <img src="http://zui.sexy/docs/img/img1.jpg" width="400px" height="200px" class="img-rounded" alt="圆角图片">
                </div>
                <div class="col-sm-8">
                    <div class="website-body-top">
                        <div class="col-sm-1">
                            <div class="num">2</div>
                        </div>
                        <div class="col-sm-11">
                            <strong class="top"><span>FPX</span> | 地理信息集群组织</strong>
                            <p><i class="fa fa-map-marker"></i>&nbsp;&nbsp;瑞典-耶夫勒</p>
                        </div>
                    </div>
                    <div class="website-body-desc">
                        <p>Future Position X (FPX) 于 2006 年成立,是一家非盈利会员制地理信息集群组织,总部 位于瑞典耶夫勒市,瑞典会员单位的雇员总数达 26000 多人, 年产值超过 440 亿瑞典克朗, 网络覆盖超过了15个国家,并在中国北京、武汉、珠海也设立了代表处。FPX 的使命是支 持创新型公司与组织以研究并开发新产品与新服务,并开辟新市场。在地理信息技术创新 性应用方面,瑞典耶夫勒地区在过去的 15 年中已经发展成为领先的欧洲中心。我们总部、实验室以及创业中心位于瑞典耶夫勒技术园区。FPX与世界上20多个国家的合作伙伴共同合作,在创新和研究方面有着巨大的国际影响力,并为我们的会员单位寻找新的客户及合 作伙伴搭建桥梁。Future Position X 是欧洲领先的集群组织并且在近几年赢得了若干领导力以及研究成果的国际奖项。由于出色的工作,荣获了欧洲集群卓越计划(ECEI)的金牌认证(2012-2014),集群总裁 Johan P Bang 先生荣获了 2010-2011 年度欧洲集群经理奖。</p>
                    </div>
                </div>
            </div>
            <div class="website-body">
                <div class="col-sm-4">
                    <img src="http://zui.sexy/docs/img/img1.jpg" width="400px" height="200px" class="img-rounded" alt="圆角图片">
                </div>
                <div class="col-sm-8">
                    <div class="website-body-top">
                        <div class="col-sm-1">
                            <div class="num">3</div>
                        </div>
                        <div class="col-sm-11">
                            <strong class="top"><span>Sinonex</span></strong>
                            <p><i class="fa fa-map-marker"></i>&nbsp;&nbsp;瑞士-苏黎世</p>
                        </div>
                    </div>
                    <div class="website-body-desc">
                        <p>由在瑞中国留学生所创建，致力于引进瑞士优质的科技项目与技术团队，对接投资者与项目，加速项目落地，技术产业化以及中国市场的推广。</p>
                    </div>
                </div>
            </div>
            <div class="website-body">
                <div class="col-sm-4">
                    <img src="http://zui.sexy/docs/img/img1.jpg" width="400px" height="200px" class="img-rounded" alt="圆角图片">
                </div>
                <div class="col-sm-8">
                    <div class="website-body-top">
                        <div class="col-sm-1">
                            <div class="num">4</div>
                        </div>
                        <div class="col-sm-11">
                            <strong class="top"><span>Luntron International Society for Innovation</span></strong>
                            <p><i class="fa fa-map-marker"></i>&nbsp;&nbsp;加拿大-温哥华</p>
                        </div>
                    </div>
                    <div class="website-body-desc">
                        <p>联创国际创新协会总部位于加拿大温哥华，主要成员来自于北美各大知名的大学、科研机构以及部分高新技术企业。协会的宗旨是引领科技创新成果转化、推崇科技创新、服务世界范围。作为一家非盈利机构，联创国际创新协会旨在成为一个以北美华人科技人才为主的国际化平台，为创新技术和团队提供包括初期科技成果孵化、适合的产业结构创业载体推介，以及匹配的天使基金和风险投资等金融工具对接的完善的优质服务体系。本着这样的宗旨，协会整合了一批在世界上有影响的大学、研究院所以及科研人员的项目成果，与中国的一些高新技术开发园区的孵化器展开合作，和一些天使投资基金、科技创新风险投资机构等签订资源共享协议，同时协会还与一些相关科技创新机构进行合作，推进资源整合。</p>
                    </div>
                </div>
            </div>
            <div class="website-top">
                <div class="col-sm-10">
                    国内站点
                </div>
            </div>
            <div class="website-body">
                <div class="col-sm-7">
                    <div class="hehe">
                        <div class="col-sm-1">
                            <div class="num">1</div>
                        </div>
                        <div class="col-sm-5">
                            <div class="text">襄阳离岸创新创业工作站</div>
                        </div>
                        <div class="col-sm-1">
                            <div class="num">2</div>
                        </div>
                        <div class="col-sm-5">
                            <div class="text">荆门离岸创新创业工作站</div>
                        </div>
                    </div>
                    <div class="hehe">
                        <div class="col-sm-1">
                            <div class="num"> 3</div>
                        </div>
                        <div class="col-sm-5">
                            <div class="text">宜昌离岸创新创业工作站</div>
                        </div>
                        <div class="col-sm-1">
                            <div class="num">4</div>
                        </div>
                        <div class="col-sm-5">
                            <div class="text">蔡甸离岸创新创业工作站</div>
                        </div>
                    </div>
                    <div class="hehe">
                        <div class="col-sm-1">
                            <div class="num">5</div>
                        </div>
                        <div class="col-sm-5">
                            <div class="text">荆州离岸创新创业工作站</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <img src="__PUBLIC__/images/ditu.jpg">
                </div>
            </div>
        </div>
        <include file="Public/footer" />
    </div>
    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="__PUBLIC__/new-style/plugins/jquery/jquery-migrate.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="__PUBLIC__/new-style/plugins/smoothScroll.js"></script>
    <script type="text/javascript" src="__PUBLIC__/new-style/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="__PUBLIC__/new-style/plugins/layer-slider/layerslider/js/greensock.js"></script>
    <script type="text/javascript" src="__PUBLIC__/new-style/plugins/layer-slider/layerslider/js/layerslider.transitions.js"></script>
    <script type="text/javascript" src="__PUBLIC__/new-style/plugins/layer-slider/layerslider/js/layerslider.kreaturamedia.jquery.js"></script>
    <!-- JS Customization -->
    <script type="text/javascript" src="__PUBLIC__/new-style/js/custom.js"></script>
    <!-- JS Page Level -->
    <script type="text/javascript" src="__PUBLIC__/new-style/js/app.js"></script>
    <script type="text/javascript" src="__PUBLIC__/new-style/js/plugins/layer-slider.js"></script>
    <script type="text/javascript" src="__PUBLIC__/new-style/js/plugins/style-switcher.js"></script>
    <script type="text/javascript" src="__PUBLIC__/new-style/js/plugins/owl-carousel.js"></script>
    <script type="text/javascript" src="__PUBLIC__/new-style/js/plugins/owl-recent-works.js"></script>
    <script src="__PUBLIC__/new-style/plugins/jquery.parallax.js"></script>
    <script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        LayerSlider.initLayerSlider();
        App.initParallaxBg();
        StyleSwitcher.initStyleSwitcher();
        OwlCarousel.initOwlCarousel();
        OwlRecentWorks.initOwlRecentWorksV2();

        $('.ul_menu li:eq(0)').removeClass('active')
        $('.ul_menu li:eq(1)').addClass('active')
    });
    </script>
    <!--[if lt IE 9]>
<script src="__PUBLIC__/new-style/plugins/respond.js"></script>
<script src="__PUBLIC__/new-style/plugins/html5shiv.js"></script>
<script src="__PUBLIC__/new-style/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->
</body>

</html>
