<div style="margin-bottom: 12px">
    <if condition="is_login() eq 0">
        <button class="btn btn-primary btn-large event_btn" onclick="toast.error({:L('_ERROR_START_AFTER_LOGIN_')},{:L('_TIP_TENDER_')})">{:L('_EVENT_SPONSOR_')}
        </button>
        <else/>
        <a class="btn btn-primary btn-large event_btn " href="{:U('Event/Index/add')}">{:L('_EVENT_SPONSOR_')}
        </a>

    </if>
</div>
<div class="common_block_border event_right">
    <div class="common_block_title_right">{:L('_EVENT_CATEGORY_')}</div>

    <div class="event_type clearfix" style="padding: 0 5px;margin-bottom: 5px">
        <a style="float: left" href="{:U('index',array('norh'=>$norh))}"
        <eq name="type_id" value="">class="cur"</eq>
        >{:L('_CATEGORY_ALL_')}</a>
        <volist name="tree" id="top">
            <a style="float: left"
            <eq name="type_id" value="$top['id']">class="cur"</eq>
            href="{:U('index',array('type_id'=>$top['id'],'norh'=>$norh))}" data="{$top.id}">{$top.title}</a>
        </volist>
    </div>
</div>




<php>if(ACTION_NAME == 'detail' ){</php>
<div class="forum_module " style="width:100%;float: left;">
    <h2 class="event_type_name">{:L('_EVENT_IN_PEOPLE_')} ({$content.attentionCount}{:L('_PEER_')}) <a class="pull-right"
                                                                       href="{:U('member',array('id'=>$content['id']))}"
                                                                       style="font-size: 14px;margin-right: 10px;color: #848484">{:L('_ALL_')}</a>
    </h2>

    <div style="width: 100%">
        <volist name="content['member']" id="vo" offset="0" length="20">
            <div class="" style="text-align: center;width:75px;float: left;height: 75px;line-height: 80px;">
                <a href="{$vo.space_url}">
                    <img ucard="{$vo.id}" src="{$vo.avatar64}" class="avatar-img" style="width: 64px"/>
                </a>
            </div>
        </volist>
    </div>

</div>
<php>}</php>

{:W('RecommendEvent/recommendEvent')}